*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
}
#container{
    width: 100%;
    text-align: center;
    display: inline-block;
}
.timer-detail{
    width: 20%;
    text-align: center;
    display: inline-block;
    height: 50px;
    font-size: 45px;
    padding: 5px;
    margin-top: 10%;
    background-color: white;

}
.btnBox{
    width: 100%;
    text-align: center;
    display: inline-block;
}
.setBtn{
    width: 10%;
    height: 50px;
    color: white;
    box-shadow: 0px 0px 5px white;
    font-size: 30px;
    margin-top: 5%;
    background-color: black;
}